/* -------------------------
   Style général
-------------------------- */
body {
    font-family: Arial, sans-serif;
    background: #ECECEC;
    margin: 0;
    padding: 0;
    color: #2F5333;
}

/* -------------------------
   En-tête
-------------------------- */
header {
    background: #2F5333;
    padding: 40px 20px;
    text-align: center;
    color: white;
}

header h1 {
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    margin: 0;
    font-size: 3em;
}

header p {
    margin-top: 10px;
    font-size: 1.1em;
}

/* -------------------------
   Conteneur principal
-------------------------- */
.container {
    max-width: 850px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
}

/* -------------------------
   Titres
-------------------------- */
h2 {
    margin-top: 0;
    color: #2F5333;
    font-size: 1.8em;
}

/* -------------------------
   Définitions
-------------------------- */
.definition {
    background: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.6;
    margin-bottom: 25px;
}

/* -------------------------
   Mini-jeu
-------------------------- */
.jeu {
    background: #FAFAFA;
    border-left: 6px solid #2F5333;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
}

.jeu ul {
    list-style-type: none;
    padding-left: 0;
}

.jeu li {
    margin-bottom: 8px;
}

/* -------------------------
   Boutons
-------------------------- */
button {
    display: inline-block;
    background: #D8849E;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    margin: 15px 0;
    transition: 0.2s;
}

button:hover {
    background: #D8849E;
}

button:disabled {
    background: #A0A0A0;
    cursor: not-allowed;
}

/* -------------------------
   Idée NIRD
-------------------------- */
#button_idee {
    text-align: center;
}

#idee {
    margin-top: 15px;
    padding: 18px;
    font-weight: bold;
    min-height: 30px;
    
    background: none;
    border-left: none;
    text-align: center;
    color: #4A4A4A;
}



/* -------------------------
   Footer
-------------------------- */
footer {
    text-align: center;
    padding: 30px 10px;
    color: #555;
    font-size: 0.9em;
}
