/* -------------------------
   Style général
-------------------------- */
body {
    font-family: Arial, sans-serif;
    background: #ECECEC;
    margin: 0;
    padding: 0;
    color: #0aa5d8;
}


/* -------------------------
   En-tête
-------------------------- */
header {
    background: #0aa5d8;
    padding: 40px 20px;
    text-align: center;
    color: white;
}

header h1 {
    font-family: "Bitcount Prop Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
    margin: 0;
    font-size: 4em;
}

header p {
    font-family: "Bitcount Prop Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
    margin-top: 10px;
    font-size: 1.3em;
}

/* -------------------------
   Conteneur principal
-------------------------- */
.container {
    max-width: 850px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.08);
}

/* -------------------------
   Titres
-------------------------- */
h2 {
    margin-top: 0;
    color: #0aa5d8;
    font-size: 1.8em;
}

/* -------------------------
   Définitions
-------------------------- */
.definition {
    background: #F5F5F5;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.6;
    margin-bottom: 25px;
}

/* -------------------------
   Mini-jeu
-------------------------- */
.jeu {
    background: #FAFAFA;
    border-left: 6px solid #0aa5d8;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
}

.jeu ul {
    list-style-type: none;
    padding-left: 0;
}

.jeu li {
    margin-bottom: 8px;
}

        button {
            display: block;
            margin: 30px auto;
            padding: 15px 25px;
            font-size: 1rem;
            background: #D8849E;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s;
        }

        #buttons_container {
            display: flex;
            justify-content: center;
            gap: 20px;
            margin-top: 30px;
        }


        #btnIA {
            background: #D8849E;
        }

        #btnIA:hover {
            background: #008f6f;
        }

        footer {
            text-align: center;
            padding: 30px 10px;
            color: #555;
            font-size: 0.9em;
        }
        button:hover {
            background: #D8849E;
        }

        #idee {
            text-align: center;
            font-size: 1.4rem;
            margin-top: 20px;
            font-weight: bold;
        }